.idea
/client/node_modules/
/backend/node_modules/

/backend/keytmp.pem
/backend/key.pem
/backend/cert.pem
/backend/db/config/config.js
/backend/db/sequelizeData.json

/backend/.env
/client/.env.local
/backend/.env.production
/client/.env.production
docker-compose.yml
docker-compose.yml
backend/.env.prod
backend/.env.dev
